footer{
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.up_back{
  background: #3b3b3b;
  height: 60%;
  color: white;
  display: flex;
  align-items: center;
}

.down_back{
  background: #2d2d2d;
  height: 40%;
}


@media only screen and (max-width: 	1320px){
  footer{
    height: 100px;
  }
  .up_back{
    height: 60%;
  }
  .down_back{
    height: 40%;
  }
}

@media only screen and  (max-width: 767px){
  footer{
    height: 200px;
  }
  .up_back{
    height: 75%;
  }
  .down_back{
    height: 25%;
  }
}

.button-group {
    display: flex;
    align-items: center;
}

.buttonLink {
    padding: 1rem;
    text-decoration: none; /* ������� ������������� � ������ */
}


.emailLink {
    color: white;
    text-align: center;
    text-decoration: none; /* ������� ������������� */
}