/*.images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.images {
    float: right;
    margin-left: auto;
}



.rightImagesContainer {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    display: flex;
    flex-direction: column; 
}

.rightImage {
    width: 100px; 
    height: auto; 
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.image {
    weight: 100px;
    height: 100px;
    float: right;
    margin-left: auto;
}

.image img:first-child {
    top: 0;
    left: 0;
}

.image img:last-child {
    top: 0;
    left: 0;
    transform: translate(-160%, 40%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.text {
    width: 50%;
    padding: 0 2rem;
}


strong{
    size: 36px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.block {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

a{
    color: black;
}

.carousel-default-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.carousel-default-ui .carousel-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-default-ui .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #eee;
    cursor: pointer;
}

.carousel-default-ui .carousel-item.active {
    background-color: #ddd;
}

.carousel-default-ui .carousel-control-prev,
.carousel-default-ui .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.carousel-default-ui .carousel-control-prev:hover,
.carousel-default-ui .carousel-control-next:hover {
    background-color: #ddd;
}

.carousel-default-ui .carousel-control-prev {
    left: -20px;
}

.carousel-default-ui .carousel-control-next {
    right: -20px;
}



.link {
    color: black;
    text-decoration: none;
    font-weight: normal; 
    transition: color 0.3s ease; 
    text-decoration: none;
}


.link.bold {
    text-decoration: none;
    font-weight: bold; 
}


.thirdCard {
    width: 540px;
    height: 173px;
}


.eventImage {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
}

.event-card {
    position: relative;
    width: 540px; 
    height: 43px;
    background-color: white;
}

.event-card .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5); 
}

.event-card .card-title,
.event-card .card-text {
    color: white; 
}


.event-card-container {
    display: flex;
    justify-content: space-between;
}

.event-card {
    margin-right: 20px; 

@media (max-width: 768px) {
    .event-card {
        margin-right: 0; 
        margin-bottom: 50px; 
    }
}
*/




/*
.carousel {
    margin-top: 10;
    margin-bottom: 10;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.eventPhotos {
    margin-bottom: 20px;
}

.eventImageLarge {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    float: right; 
    height: auto;
    margin-left: 20px;
}

.eventImageSmall {
    width: 200px;
    height: auto;
    margin-left: 20px;
    float: right;
    margin-bottom: 15px;
    transform: translate(-200%, 20%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.eventCards {
    display: flex;
    color: black;
    justify-content: space-between;
}

.eventCard {
    width: 45%;
    position: relative;
}

.eventCard img {
    opacity: 0.75;
    width: 100%;
    height: 100%;
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1rem;
    color: black;
    margin-bottom: 5px;
}

p {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 28px; 
    font-family: 'Lato', sans-serif; 
    width: 50%;
    margin-left: 60px; 
}
    */

.content_box4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 540px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}

.group {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 433px;
}

.cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 540px;
    height: 433px;
}

.rect4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 540px;
    height: 433px;
    background-color: rgba(0, 0, 0, 0.658);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
}

.flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 274px 26px 22px 17px;
}

.flex_col1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px 0px;
    width: 250px;
}

.subtitle1 {
    position: relative;
    font: 700 20px/1.2 "Lato", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}

.highlight {
    position: relative;
    font: 400 16px/1.18 "Lato", Helvetica, Arial, serif;
    color: rgb(218, 218, 218);
}

.flex_row {
    position: relative;
    display: flex;
    gap: 0px 20px;
    margin: 11px 0px 0px 4px;
}

.flex_row1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 2px 0px;
    width: 264px;
    min-width: 0px;
}

.image {
    position: relative;
    width: 29px;
    min-width: 0px;
    height: 29px;
}

.highlight1 {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 0px;
    font: 400 16px/1.18 "Lato", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}

.flex_row2 {
    position: relative;
    display: flex;
    gap: 0px 24px;
    width: 209px;
    min-width: 0px;
}

.image1 {
    position: relative;
    margin: 0px 0px 5px;
    width: 20px;
    min-width: 0px;
    height: 28px;
}

.image2 {
    position: relative;
    margin: 11px 0px 0px;
    width: 22px;
    min-width: 0px;
    height: 22px;
}

.highlight11 {
    position: relative;
    display: flex;
    align-items: center;
    margin: 4px 0px 10px;
    min-width: 0px;
    font: 400 16px/1.18 "Lato", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}

.flex_row3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 8px 35px 0px 5px;
}

.image3 {
    position: relative;
    width: 27px;
    min-width: 0px;
    height: 33px;
}
